.about-us {
    box-sizing: content-box;
    min-height: 30rem;
    background-image: url('../images/bg-section-about-us.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;


    h2 {
        font-family: $font-family;
        font-size: 1.65rem;
    }

    p,
    a {
        font-family: 'Roboto', sans-serif;
    }

    a {
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        @include white-button;
        margin-top: 3rem;
    }

    @media screen and (min-width: $tablet-breakpoint) {
        justify-content: space-around;

        h2 {
            font-size: 2rem;
            max-width: 40rem;
        }

        p {
            max-width: 30rem;
        }

        a { 
            margin-top: 0;
        }
    }

    @media screen and (min-width: $desktop-breakpoint) { 
        padding: 4rem 1rem;

        h2 {
            font-size: 3rem;
            max-width: 45rem;
        }

        p {
            max-width: 50rem;
        }
    }
}