section.contact-us {
  height: fit-content;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: -10;

  text-transform: uppercase;
  text-align: center;

  div.project {
    background-color: map-get($colors, slate-blue-bg);
    width: 100%;
    height: fit-content;
    order: 2;
    padding-bottom: 8rem;

    h2 {
      font-family: $font-family;
      color: map-get($colors, general-white);
      font-size: 1.75rem;
      padding: $wide-margin;
    }

    a {
      font-family: $font-family;
      color: map-get($colors, general-white);
      font-size: 1rem;
      font-weight: bold;
      padding: $mid-margin;
      border: 1px solid map-get($colors, general-white);
      text-decoration: none;
    }
  }

  div.map {
    width: 100%;
    height: fit-content;
    background-image: url("../images/map.jpg");
    background-size: 100%;
    order: 1;
    padding-bottom: 8rem;

    h2 {
      font-family: $font-family;
      color: map-get($colors, header-gray);
      font-size: 1.75rem;
      padding: $wide-margin;
    }

    a {
      font-family: $font-family;
      color: map-get($colors, header-gray);
      font-size: 1rem;
      font-weight: bold;
      padding: $mid-margin;
      border: 1px solid map-get($colors, header-gray);
      text-decoration: none;
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    display: inline-flex;
    flex-wrap: nowrap;
    div.map {
      width: 50%;
      order: 2;
      padding-bottom: 6rem;
      background-image: url("../images/map.jpg");
      background-size: 100%;

      h2 {
        font-family: $font-family;
        color: map-get($colors, header-gray);
        font-size: 0.75rem;
        padding: $gen-margin;
        margin: $gen-margin;
      }

      a {
        font-family: $font-family;
        color: map-get($colors, header-gray);
        border: 1px solid map-get($colors, header-gray);
        text-decoration: none;
        padding: $gen-margin;
      }
    }

    div.project {
      width: 50%;
      z-index: -1;
      order: 1;
      padding-bottom: 6rem;
    }
  }
  @media screen and (min-width: $desktop-breakpoint) {
    display: inline-flex;
    flex-wrap: nowrap;
    div.map {
      width: 50%;
      order: 2;
    }
    div.project {
      width: 50%;
      z-index: -10;
      order: 1;
    }
  }
}
