section.contact-us {
  height: fit-content;
  margin-bottom: $wide-margin;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  z-index: -10;

  text-transform: uppercase;
  text-align: center;

  div.project {
    background-color: map-get($colors, slate-blue-bg);
    width: 100%;
    height: fit-content;
    order: 5;
    h2 {
      font-family: $font-family;
      color: map-get($colors, general-white);
      font-size: 0.75rem;
    }

    a {
      font-family: $font-family;
      color: map-get($colors, general-white);
      border: 1px solid map-get($colors, general-white);
      text-decoration: none;
    }
  }

  div.map {
    width: 100%;
    height: fit-content;
    margin-bottom: $wide-margin;
    background-image: url("../images/map.jpg");
    z-index: -10;
    order: -5;

    h2 {
      font-family: $font-family;
      color: map-get($colors, slate-blue-bg);
      font-size: 0.75rem;
      padding: $gen-margin;
      margin: $gen-margin;
      z-index: 5;
    }

    a {
      font-family: $font-family;
      color: map-get($colors, body-txt);
      padding: $footer-padding;
      border: 1px solid map-get($colors, body-txt);
      text-decoration: none;
      margin: $footer-padding;
      z-index: 10;
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    display: inline-flex;
    flex-wrap: nowrap;
    div.map {
      width: 50%;
    }
    div.project {
      width: 50%;
      z-index: -10;
    }
  }
  @media screen and (min-width: $desktop-breakpoint) {
  }
}
