footer {
  margin: $zero;
  display: flex;
  flex-wrap: wrap;
  background-color: map-get($colors, bg-color);
  justify-content: space-evenly;
  text-align: center;

  @include wave;

  .footer-icon-row {
    flex-wrap: nowrap;
  }

  .icon {
    color: map-get($colors, general-white);
    font-family: $font-family;
  }
  p {
    color: map-get($colors, general-white);
    font-family: $font-family;
    padding: $footer-padding;
  }

  #logo {
    width: $width-sm;
    padding: $footer-padding;
    margin-bottom: $gen-margin;
  }

  @media ($tablet-breakpoint) {
    #logo {
      padding: $footer-padding * 3;
    }
  }
}
