footer {
  margin: $zero;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  background-color: map-get($colors, bg-color);
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  @include wave;

  .footer-icon-row {
    flex-wrap: nowrap;
  }

  .icon {
    color: map-get($colors, general-white);
    font-family: $font-family;
  }
  p {
    color: map-get($colors, general-white);
    font-family: $font-family;
    padding: $footer-padding;
  }

  #logo {
    width: $width-med;
    padding: $footer-padding;
    margin-bottom: $gen-margin;
    flex-grow: 0 0 auto;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;

      #logo {
        width: 25%;
        padding: $footer-padding;
      }
      .footer-icon-row {
        flex-wrap: nowrap;
      }
    }

    @media screen and (min-width: $desktop-breakpoint) {
    }
  }
}
