.product-advisor {
  background-color: map-get($colors, slate-blue);
  color: map-get($colors, white);
  font-family: "Roboto Condensed", sans-serif;
  max-width: 100%;
  padding: 2%;
  margin: 1rem 0 0 0;
  @include wave($wave-blue-dark);

  h2 {
    text-align: center;
    margin: 0.5rem;
    text-transform: uppercase;
  }

  p {
    text-align: center;
    margin: 0 0 2rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid white;
  }

  .form-group {
    display: block;

    select {
      width: 100%;
      margin: 0.5rem 0 1.5rem 0;
      height: 40px;
      color: map-get($colors, custom-order-anchor);
      background-color: lightgrey;
      padding: 0 0.75rem;
      border: none;
      position: relative;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }

    span {
      font-size: 1rem;
      color: map-get($colors, lite-blue);
      position: absolute;
      right: 0.5rem;
      bottom: 50%;
      transform: translateY(60%);
      pointer-events: none;
    }

    &:first-of-type {
      select {
        background-color: lighten(lightgrey, 20%);
      }
    }

    label {
      font-weight: bold;
    }
  }

  .form-group {
    .find-product input {
      margin: 4rem 0;
      display: block;
      width: 100%;
      padding: 1rem;
      font-size: 1.2em;
      border: none;
      background-color: map-get($colors, lite-blue);
      color: map-get($colors, white);
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .product-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 0.25rem;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  p {
    color: map-get($colors, white);
  }

  .product-flex {
    display: flex;
    justify-content: space-between;
  }

  .form-group {
    flex: 1;
  }
}
