@mixin wave($bg-image) {
  position: relative;

  &::before {
    background-size: 200% 90%;
    background-position: top 0% left 30%;
    image-rendering: -webkit-optimize-contrast;
    background-repeat: no-repeat;
    z-index: -1;
    content: "";
    background-image: url($bg-image);
    height: 10rem;
    width: 100%;
    transform: translateY(-75%);
    position: absolute;
    background-color: map-get($colors, transparent);
  }

  @media (min-width: $desktop-breakpoint) {
    &::before {
      height: 8rem;
      width: 100%;
      background-size: 100% 100%;
      background-position: center;
      transform: translateY(-75%);
      position: absolute;
    }
  }
}
