@mixin wave {
  position: relative;

  &::before {
    background-size: 200% 90%;
    background-position: top 0% left 30%;
    image-rendering: -webkit-optimize-contrast;
    background-repeat: no-repeat;
    z-index: -1;
    content: "";
    background-image: url("../images/wave-blue-light.png");
    height: 10rem;
    width: 100%;
    transform: translateY(-50%);
    position: absolute;
    background-color: map-get($colors, transparent);
  }

  @media screen and (min-width: $tablet-breakpoint) {
    &::before {
      height: 8rem;
      width: 100%;
      background-size: 100% 100%;
      background-position: center;
      transform: translateY(-4.5rem);
      position: absolute;
    }
  }

  // @media ($desktop-breakpoint) {
    // }
}
