@mixin wave {
  position: relative;
  &::before {
    height: 9em;
    max-width: $full-width;
    width: 100%;
    background-size: 200% 200%;
    z-index: -3;
    content: "";
    background-image: url("../images/wave-blue-light.png");
    top: $zero;
    transform: translateY(-100%);
    position: absolute;
    background-color: map-get($colors, transparent);

    @media ($tablet-breakpoint) {
      margin-left: $zero;
      object-fit: contain;
      margin-left: 0em;
      background-size: 100% 100%;
    }
  }
}
