$colors: (
  video-border: #154a66,
  bg-color: #009ddc,
  body-txt: #252525,
  heading-color-primary: #154a66,
  heading-color-secondary: #009ddc,
  custom-order-anchor: #616161,
  general-white: #ffffff,
  slate-blue-bg: #154a66,
  header-gray: #504f4f,
  transparent: rgba(0, 0, 0, 0),
);

$min-width: 20em;
$tablet-breakpoint: 48em;
$desktop-breakpoint: 82em;
$max-width: 120em;
$wide-video-border: 1em;
$width-ex-sm: 15%;
$width-sm: 30%;
$width-med: 40%;
$footer-padding: 0.5em;
$mid-margin: 0.75rem;
$gen-margin: 1em;
$wide-margin: 2em;
$zero: 0;
$full-width: 100vw;

$font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
