$colors: (
  bg-color: #009ddc,
  body-txt: #252525,
  heading-color-primary: #154a66,
  heading-color-secondary: #009ddc,
  custom-order-anchor: #616161,
  general-white: #ffffff,
  slate-blue-bg: #154a66,
  header-gray: #504f4f,
  news-bg: #b8ddf1,
  green: #008000,
  transparent: rgba(0, 0, 0, 0),
);

$min-width: 20em;
$tablet-breakpoint: 48em;
$desktop-breakpoint: 82em;
$max-width: 120em;
$wide-video-border: 4em;
$width-ex-sm: 15%;
$width-sm: 30%;
$width-med: 40%;
$footer-padding: 0.5em;
$sm-margin: 0.25em;
$mid-margin: 0.75rem;
$gen-margin: 1em;
$thick-margin: 1.5em;
$wide-margin: 2em;
$zero: 0;
$full-width: 100vw;

$font-family: "Roboto Condensed", sans-serif;
$font-family-reg: "Roboto", sans-serif;
$wave-white: "../images/wave-white.png";
$wave-blue-light: "../images/wave-blue-light.png";
$wave-blue-dark: "../images/wave-blue-dark.png";
